<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Page Not Found</title>
    <style>
        body{
        background-color: #f2f2f2;
        font-family: 'Segoe UI', sans-serif;
        text-align: center;
        padding-top: 100px;
        color: #333;
        }
        h1{
        font-size:4em;
        color: #ff4c4c;
        }
        p{
        font-size: 1.2em;
        }
        a{
        display: inline-block;
        margin-top: 20px;
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        }
    </style>
    </head>
    <body>
        <h1>404</h1>
        <p>Oops! The page you're looking for doesn't exist.</p>
        <a href="/">Return to Homepage</a>
    </body>
</html>